<!DOCTYPE html>
<html>
  <head>
    <style>
      .footer-fixed {
        margin-top: 135px;
      }

      .footer-links {
        text-align: center;
      }

      .help {
        margin-right: 10px;
      }

      .about {
        margin-left: 10px;
      }

      a {
        color: #1b69b6;
      }
    </style>
  </head>

  <body>
    <!-- Footer -->
    <hr class="footer-fixed" />
    <div class="container footer-container">
      <div class="footer-links">
        <span class="about">
          <a href="/about">About</a>
        </span>
      </div>
    </div>
  </body>
</html>
